torch
torchsde
torchvision
torchaudio
numpy>=1.25.0
einops
transformers>=4.50.3
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
pyyaml
Pillow
scipy
tqdm
psutil
filelock
av>=14.2.0
comfy-kitchen>=0.2.8
comfy-aimdo>=0.2.12
requests
simpleeval>=1.0.0
kornia>=0.7.1
spandrel
pydantic~=2.0
fastapi
uvicorn[standard]
